#background {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#loginModalContainer {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#ConnectionStatusContainer {
    width: 100%;
    text-align: center;
    color: white;
    font-family: roboto;
    font-size: 10pt;
}

#ConnectionStatusContainer.active {
    background-color: rgb(71, 227, 71);
}

#ConnectionStatusContainer.connected {
    background-color: yellow;
}

#ConnectionStatusContainer.unconnected {
    background-color: red;
}

.userTextContainer {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    display: flex;
}

.userTextContainer.primary:hover {
    background-color: rgb(245, 245, 245);
    cursor: text;
}

.userTextContainer.primary:active {
    background-color: rgb(237, 237, 237);
}

.userTextContainer.secondary:hover {
    background-color: rgb(252, 252, 252);
}

.userTextInnerContainer {
    width: 80%;
}

.userTextInnerDivider {
    background-color: rgb(71, 227, 71);
    width: 2px;
}

.userTextInnerDivider.primary {
    background-color: black;
}

.userTextInnerDivider.primary.active {
    height: 3ex;
}

.userTextInnerInputContainer {
    flex: 1;
    float: right;
}

.userName {
    font-family: roboto;
    font-weight: bold;
    text-align: right;
}

.userNameInnerContainer {
    background-color: rgb(71, 227, 71);
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px 0px 0px 3px;
}

.userNameInnerContainer.primary {
    background-color: black;
    color: white;
}

.userText {
    font-family: roboto;
    text-align: right;
    margin: 0px;
    white-space: pre;
    overflow: clip;
    text-indent: -9999px;
}

#primaryTextInput{
    width: 10px;
    opacity: 0;
}