#background {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#loginModalContainer {
    background-color: #fefefe;
    margin: 15% auto;
    width: 500px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #0000004d;
}

#loginModalContainerInner {
    width: 400px;
    margin: auto;
}

#wordmark {
    margin-top: 0px;
    font-family: roboto;
    color: #525252;
}

#usernameInputField {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid gray;
}

#loginButton {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border: 0px;
    background-color: #1f84c0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#loginButton:hover {
    background-color: #176b9c;
}

#ConnectionStatusContainer {
    width: 100%;
    text-align: center;
    color: black;
    font-family: roboto;
    font-size: 10pt;
}

#ConnectionStatusContainerInner {
    width: fit-content;
    margin: auto;
}

#ConnectionIndicator {
    height: 0.7em;
    width: 0.7em;
    background-color: black;
    float: left;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
    margin-right: 5px;
}

#ConnectionIndicator.active {
    background-color: rgb(71, 227, 71);
}

#ConnectionIndicator.connected {
    background-color: yellow;
}

#ConnectionIndicator.unconnected {
    background-color: red;
}

.userTextContainer {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    display: flex;
}

.userTextContainer.primary:hover {
    background-color: rgb(245, 245, 245);
    cursor: text;
}

.userTextContainer.primary:active {
    background-color: rgb(237, 237, 237);
}

.userTextContainer.secondary:hover {
    background-color: rgb(252, 252, 252);
}

.userTextInnerContainer {
    width: 80%;
}

.userTextInnerDivider {
    background-color: rgb(71, 227, 71);
    width: 2px;
}

.userTextInnerDivider.primary {
    background-color: black;
}

.userTextInnerDivider.primary.active {
    height: 3ex;
}

.userTextInnerInputContainer {
    flex: 1;
    float: right;
}

.userName {
    font-family: roboto;
    font-weight: bold;
    text-align: right;
}

.userNameInnerContainer {
    background-color: rgb(71, 227, 71);
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px 0px 0px 3px;
}

.userNameInnerContainer.primary {
    background-color: black;
    color: white;
}

.userText {
    font-family: roboto;
    text-align: right;
    margin: 0px;
    white-space: pre;
    overflow: clip;
    text-indent: -9999px;
}

#primaryTextInput{
    width: 10px;
    opacity: 0;
}